//=============================================================
// Large devices (desktops, less than 1200px)
//=============================================================
@include media-breakpoint-down(lg) {}

//=============================================================
// Large devices (desktops, less than 992px)
//=============================================================
@include media-breakpoint-down(md) {
    header nav .ul-Header .active {
        border: 2px solid transparent;
        @include radius(0);
        border-bottom: 1px solid #eeeeeead;
    }
    header nav {
        .navbar-nav {
            margin-top: 30px;
            text-align: center;
            background: #262936;
            @include radius(20px);
            li {
                padding: 15px 0;
                margin: 0;
                border-bottom: 1px solid #eeeeeead;
                @include radius(0);
                &:last-of-type {
                    border: 0;
                }
            }
        }
    }
}

//=============================================================
// Large devices (desktops, less than 768px)
//=============================================================
@include media-breakpoint-down(sm) {}

//=============================================================
// Large devices (desktops, less than 575px)
//=============================================================
@include media-breakpoint-down(xs) {}