// Set direction rtl
@import "direction-rtl.scss";
// Bootstrap rtl
@import "../vendors/bootstrap-4.3.1/scss/bootstrap-rtl.scss";
$regular: 'Roboto-Regular';
@font-face {
    display-font: swap;
    font-family: $regular;
    src: url(../fonts/Roboto-Regular.eot);
    src: url(../fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto-Regular.otf) format('otf'), url(../fonts/Roboto-Regular.svg#Roboto-Regular) format('svg'), url(../fonts/Roboto-Regular.ttf) format('truetype'), url(../fonts/Roboto-Regular.woff) format('woff'), url(../fonts/Roboto-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

// Styles
@import "import.scss";